[workspace]
authors = ["alejandrofontan <fontanvillacampa@gmail.com>"]
channels = ["conda-forge"]
name = "BommieToolkit"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
extract_images = "python scripts/vid2imgs.py"
match_images_by_ns = "python scripts/match_images_by_ns.py"
colmap2nerf = {cmd = "python ../scripts/colmap2nerf.py", cwd = "monkey_output"}

[dependencies]
python = "*"
opencv = "*"
tqdm = "*"

[environments]
kalibr = {features = ["kalibr"], no-default-feature = true}
colmap = {features = ["colmap"], no-default-feature = true}

########################################################################################################################
########################################################################################################################
# kalibr feature
[feature.kalibr]
channels = ["https://fast.prefix.dev/conda-forge", "esrf-bcu", "robostack-staging"]
platforms = ["linux-64"]

[feature.kalibr.tasks]
create_catkin_ws = "mkdir -p catkin_ws/src && cd catkin_ws && catkin init"
git-clone = {cmd = "git clone https://github.com/alejandrofontan/kalibr.git catkin_ws/src/kalibr", depends-on = ["create_catkin_ws"] }
build = {cmd = "catkin build -j8 --cmake-args -DCMAKE_BUILD_TYPE=Release -DCMAKE_POLICY_VERSION_MINIMUM=3.5", cwd="catkin_ws", depends-on = ["git-clone"] }
kalibr-calibrate-stereo-rig = {cmd = "./scripts/calibrate_stereo_rig.sh", depends-on = ["build"] }

[feature.kalibr.dependencies]
python = {version="3.9.18", build="h0755675_0_cpython", channel="https://fast.prefix.dev/conda-forge"}
ros-noetic-desktop="*"
compilers="*"
cmake="*"
pkg-config="*"
make="*"
ninja="*"
colcon-common-extensions="*"
catkin_tools="*"
rosdep="*"
boost="*"
suitesparse = {version="5.4.0", build="h717dc36_0", channel="https://fast.prefix.dev/conda-forge"}
tbb="*"
opencv="*"
libv4l="*"
pip="*"
scipy="*"
matplotlib="*"
ipython="*"
wxpython ="*"
tk ="*"
pyx="*"
libtiff="*"
tqdm="*"
av = "*"
pillow = "*"
ffmpeg-python = "*"
ffmpeg = "*"
exiftool = "*"

[feature.kalibr.pypi-dependencies]
igraph="*"

########################################################################################################################
########################################################################################################################
# colmap feature
[feature.colmap]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["linux-64"]

[feature.colmap.system-requirements]
cuda = "12.6"

[feature.colmap.tasks]

[feature.colmap.dependencies]
colmap={build="*cuda*"}