[workspace]
authors = ["alejandrofontan <fontanvillacampa@gmail.com>"]
channels = ["conda-forge"]
name = "BommieToolkit"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]

[environments]
kalibr = {features = ["kalibr"], no-default-feature = true}
colmap = {features = ["colmap"], no-default-feature = true}

########################################################################################################################
########################################################################################################################
# kalibr feature
[feature.kalibr]
channels = ["https://fast.prefix.dev/conda-forge", "esrf-bcu", "robostack-staging"]
platforms = ["linux-64"]

[feature.kalibr.tasks]
create_catkin_ws = "mkdir -p catkin_ws/src && cd catkin_ws && catkin init"
git-clone = {cmd = "git clone https://github.com/alejandrofontan/kalibr.git catkin_ws/src/kalibr", depends-on = ["create_catkin_ws"] }
build = {cmd = "catkin build -j8 --cmake-args -DCMAKE_BUILD_TYPE=Release -DCMAKE_POLICY_VERSION_MINIMUM=3.5", cwd="catkin_ws", depends-on = ["git-clone"] }
kalibr-calibrate-stereo-rig = {cmd = "./scripts/calibrate_stereo_rig.sh", depends-on = ["build"] }

[feature.kalibr.dependencies]
python = {version="3.9.18", build="h0755675_0_cpython", channel="https://fast.prefix.dev/conda-forge"}
ros-noetic-desktop="*"
compilers="*"
cmake="*"
pkg-config="*"
make="*"
ninja="*"
colcon-common-extensions="*"
catkin_tools="*"
rosdep="*"
boost="*"
suitesparse = {version="5.4.0", build="h717dc36_0", channel="https://fast.prefix.dev/conda-forge"}
tbb="*"
opencv="*"
libv4l="*"
pip="*"
scipy="*"
matplotlib="*"
ipython="*"
wxpython ="*"
tk ="*"
pyx="*"
libtiff="*"
tqdm="*"
av = "*"
pillow = "*"
ffmpeg-python = "*"
ffmpeg = "*"
exiftool = "*"

[feature.kalibr.pypi-dependencies]
igraph="*"

########################################################################################################################
########################################################################################################################
# kalibr feature
[feature.colmap]
channels = ["fontan", "https://prefix.dev/conda-forge"]
platforms = ["linux-64"]

[feature.colmap.tasks]
git-clone = {cmd = "git clone https://github.com/colmap/colmap" }
#setup = {cmd = "pixi run -e vslamlab python Baselines/colmap/colmap_setup.py"}
#install = {cmd = "./Baselines/colmap/build.sh", depends-on = ["git-clone", "setup"]}
install = {cmd = "./Baselines/colmap/build.sh", depends-on = ["git-clone"]}

#git-clone = {cmd = "git clone https://github.com/alejandrofontan/kalibr.git catkin_ws/src/kalibr", depends-on = ["create_catkin_ws"] }
#build = {cmd = "catkin build -j8 --cmake-args -DCMAKE_BUILD_TYPE=Release -DCMAKE_POLICY_VERSION_MINIMUM=3.5", cwd="catkin_ws", depends-on = ["git-clone"] }
#kalibr-calibrate-stereo-rig = {cmd = "./scripts/calibrate_stereo_rig.sh", depends-on = ["build"] }

[feature.colmap.system-requirements]
cuda = "12.6"

[feature.colmap.dependencies]
# CUDA Build Tools
cuda-compiler = "*"
cuda-version = "12.6.*"
cuda-cudart-dev = "*"
cuda-crt = "*"
libcusparse-dev = "*"
cuda-driver-dev = "*"
cuda-nvcc = "*"
cuda-nvrtc-dev = "*"
cuda-nvtx = "*"
cuda-nvtx-dev = "*"
cuda-nvml-dev = "*"
cuda-profiler-api = "*"

# CUDA Libraries
cudnn = "*"
libcublas-dev = "*"
libcudss-dev = "*"
libcufile-dev = "*"
libcufft-dev = "*"
libcurand-dev = "*"
libcusolver-dev = "*"
cusparselt = "*"
libnvjitlink = "*"

# x11 dependencies
xorg-libxext = "*"
xorg-libx11 = "*"
xorg-libxfixes = "*"
xorg-libxrender = "*"
xorg-libice = "*"
xorg-libsm = "*"
xorg-libxdmcp = "*"
xorg-libxau = "*"
xorg-xorgproto = "*"
libxkbcommon = "*"

cxx-compiler = "*"
c-compiler = "*"
ninja = "*"
cmake = "*"
pkg-config = "*"
make = "*"

libblas = "*"
libcblas = "*"
libboost-devel = "*"
suitesparse = "*"
eigen = "*"
freeimage = "*"
glog = "*"
gflags = "*"
glew = "*"
cgal-cpp = "*"
ceres-solver = {channel="fontan"}

libgomp = "*"
libxcb = "*"
libglu = "*"
llvm-openmp = "*"

qt-main = "*"
git = "*"
flann = "*"
sqlite = "*"
vlfeat = "*"
gmp = "*"
lz4-c = "*"
metis = "*"

libgl-devel = "*"
libopengl-devel = "*"